@import 'bootstrap-sprockets';
@import 'bootstrap';

body {
  padding-top: 70px;
}

.btn-logout {
  margin-top: 8px;
  margin-right: 10px;
  padding: 5px !important;
  color: white !important;
  transition: all 0.3s ease-in-out;

  &:hover, &:focus {
    color: #D9534F !important;
    background: white;
  }
}

/*
  alert message
*/
.alert-error {
  background: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  text-align: left;
}

.alert-alert {
  background: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
  text-align: left;
}

.alert-success {
  background: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
  text-align: left;
}

.alert-notice {
  background: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
  text-align: left;
}